@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700&display=swap');
@import "../variables/variables";

// * {
//     outline: 2px solid brown;
// }

*, a, button {
    font-family: $font !important;
}

button {
  transition: all 0.3s ease-in-out;
  &:not(.header__button--signup) {
      box-shadow: $blue 0px 5px 15px;
  }

  &:hover {
    cursor: pointer;
    background-color: $darkblue;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }
}

a {
  transition: all 0.5s ease-in-out;
  outline: none !important;
  font-size: 19px;
  &:hover {
    color: $blue;
  }
}

.hidden-section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.hidden-section.visible {
  opacity: 1;
  transform: translateY(0);
}

.scroll-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  background-color: $blue;
  color: $white;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;

  &:hover {
    background-color: $darkblue;
    color: $white;
  }
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto; 
}

.header {

  background-color: $gray;
  padding: 10px 0;
  &__logo {
      max-width: 100%;
  }

  &__logo-image {
      max-width: 120px;
  }

  &__nav {
      display: flex;
      justify-content: space-between; 
      align-items: center; 
      width: 100%;
  }

  &__menu {
      display: flex;
      flex-direction: row;
      gap: 30px;
  }

  &__menu-item {
      font-size: 19px;
      outline: none;
  }

  &__menu-item--active {
      color: $blue;
      font-weight: 700;
  }

  &__link {
    outline: none;
    font-size: 19px;
  }

  &__actions {
      display: flex;
      align-items: center;
      gap: 30px;
  }

  &__button {
      font-size: 20px;
  }

  &__button--login {
      background-color: $blue;
      border-radius: 30px;
      padding: 15px;
      color: $white;
  }
}

.about {

  background-color: $lightGrayBackground;

  &__content {
    display: flex;
    justify-content: center;
  }

  &__image {
    max-width: 550px;
    margin-right: 10px;
  }

  &__block {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
  }

  &__title {
    font-size: 48px;
    font-weight: 700;
    text-align: center;
  }

  &__bracket {
    color: $blue;
    font-weight: 700;
  }

  &__bold {
    font-weight: 700;
  }

  &__subtitle {
    padding-top: 20px;
    line-height: 1.5em;
    font-size: 19px;
    padding: 20px 0;
  }
}

.why-us {
  text-align: center;

  &__title {
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    margin: 40px 0;
  }

  &__slider {
    position: relative;
    max-width: 900px;
    margin: 0 auto;
    overflow: hidden;

    .swiper-wrapper {
      display: flex;
      align-items: center;
    }

    .swiper-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background: $white;
      padding: 30px;
      border-radius: 10px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      flex-shrink: 0; 
      width: auto !important; 
      max-width: 420px;
      margin: 10px;
      transition: all 0.3s ease-in-out;
      border: 1px solid $blue;

      &:hover {
        transform: translateY(-10px);
        border: 5px solid $blue;
        transition: all 0.3s ease-in-out;
      }

      .swiper-slide-title {
        font-weight: 700;
        padding-top: 20px;
      }

      .swiper-slide-text {
        padding: 30px 10px 10px 10px;
      }
    }
  }

  .swiper-buttons {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
    padding-top: 20px;
  }

  .swiper-button-prev,
  .swiper-button-next {
    line-height: 50px;
    font-size: 24px;
    border-radius: 50%;
    outline: none !important;
    background-color: $blue;
    width: 50px;
    height: 50px;
    color: $white;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: $darkblue;
    }
  }
}

.mission {

  &__title {
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    margin: 40px 0;
  }

  &__text {
    font-size: 19px;
    line-height: 1.1em;
  }

  &__text--p {
    padding-bottom: 20px;
  }

  &__text--span {
    font-weight: 700;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
  }

  &__list--item {
    background-color: $lightGrayBackground;
    border: 1px solid #0387fc;
    border-radius: 10px;
    padding: 20px;
    flex: 1 1 calc(50% - 20px); /* 50% ширини мінус відступ */
    max-width: calc(50% - 20px); /* Запобігання розтягуванню */
    box-sizing: border-box;
  }

  &__list--title {
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    padding-bottom: 20px;
  }

  &__list--text {
  }
}

.contact {

  &__titlе {
    text-align: center;
    margin: 40px 0;
    font-weight: 700;
    font-size: 48px;
  }

  &__form {
    display: flex;
    background-color: $lightGrayBackground;
    border-radius: 30px;
    border: 1px solid $blue;
  }

  &__image {
    max-width: 580px;
    padding: 20px;
  }

  &__group--top { 
    margin-top: 30px;  
  }

  &__group--title {
    font-size: 19px;
  }

  &__group--p {
    margin: 10px 0;
    font-weight: 700;
  }

  &__group--item {
    padding: 20px;
    margin: 0 20px 20px 0;
    background-color: $gray;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: none !important;
  }

  &__group--textarea {
    width: 350px;
    padding: 10px;
    min-height: 100px;
    max-height: 100px;
    resize: none;
    background-color: $gray;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    outline: none !important;
  }

  &__button {
    text-align: center;
    margin: 20px;
  }

  &__button--b {
    text-align: center;
    margin: 0 auto;
    padding: 10px 30px;
    max-width: 100%;
    background-color: #0387FC;
    border-radius: 30px;
    color: #FFFFFF;
    font-size: 40px;
  }
}

.footer {

  background-color: $gray;
  padding-top: 20px;
  margin-top: 40px;
  &__block {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    ul {
      li {
        padding-bottom: 25px;
        a {
          outline: none;
        }
      }
    }
  }

  &__contact {
    font-family: $font;
  }

  &__contact--title {
    padding-bottom: 25px;
  }

  &__contact--tel {
    padding-bottom: 10px;
    opacity: 0.6;
    a {
      outline: none;
    }
  }

  &__contact--mail {
    opacity: 0.6;
    a {
      outline: none;
    }
  }

  &__social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
  }

  &__img {
    max-width: 200px;
    img {
      max-height: 150px;
    }
  }

  &__social--list {
    display: flex;
    flex-direction: column;
    max-height: 160px;
  }

  &__social--item {
    max-width: 30px;
  }
}
