@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700&display=swap");
*, a, button {
  font-family: Ubuntu !important;
}

button {
  transition: all 0.3s ease-in-out;
}
button:not(.header__button--signup) {
  box-shadow: #0387FC 0px 5px 15px;
}
button:hover {
  cursor: pointer;
  background-color: #000080;
}
button:focus, button:focus-visible {
  outline: none;
}

a {
  transition: all 0.5s ease-in-out;
  outline: none !important;
  font-size: 19px;
}
a:hover {
  color: #0387FC;
}

.hidden-section {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.hidden-section.visible {
  opacity: 1;
  transform: translateY(0);
}

.scroll-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 50px;
  height: 50px;
  background-color: #0387FC;
  color: #fff;
  text-align: center;
  line-height: 50px;
  font-size: 24px;
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
}
.scroll-to-top:hover {
  background-color: #000080;
  color: #FFFFFF;
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}

.header {
  background-color: #F3F3F3;
  padding: 10px 0;
}
.header__logo {
  max-width: 100%;
}
.header__logo-image {
  max-width: 120px;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.header__menu {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.header__menu-item {
  font-size: 19px;
  outline: none;
}
.header__menu-item--active {
  color: #0387FC;
  font-weight: 700;
}
.header__link {
  outline: none;
  font-size: 19px;
}
.header__actions {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header__button {
  font-size: 20px;
}
.header__button--login {
  background-color: #0387FC;
  border-radius: 30px;
  padding: 15px;
  color: #FFFFFF;
}

.school {
  background-color: #EAF2F5;
  padding-top: 10px;
}
.school__content {
  display: flex;
}
.school__title {
  font-size: 48px;
}
.school__bracket {
  color: #0387FC;
  font-size: 48px;
}
.school__block {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  justify-content: center;
}
.school__bold {
  font-weight: 700;
  font-size: 48px;
}
.school__subtext {
  font-size: 19px;
  padding: 20px 0;
  text-align: center;
  color: #a9a9a9;
  font-weight: 700;
}
.school__button {
  margin: 0 auto;
  padding: 10px 30px;
  max-width: 100%;
  background-color: #0387FC;
  border-radius: 30px;
  color: #FFFFFF;
  font-size: 40px;
}
.school__image {
  max-width: 550px;
  margin-left: 10px;
}

.services__title {
  font-size: 48px;
  text-align: center;
  font-weight: 700;
  margin: 40px 0;
}
.services__content {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: #EAF2F5;
  border: 1px solid #0387FC;
  border-radius: 30px;
  margin-bottom: 40px;
}
.services__image img {
  max-width: 100%;
  padding-left: 80px;
  height: auto;
  border-radius: 50px;
}
.services__description {
  max-width: 600px;
}
.services__tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
  margin-bottom: 20px;
}
.services__tag {
  padding: 15px 25px;
  margin-top: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 19px;
  font-weight: bold;
}
.services__tag--blue {
  background-color: #4285f4;
}
.services__tag--orange {
  background-color: #fbbc04;
}
.services__tag--red {
  background-color: #ea4335;
}
.services__tag--green {
  background-color: #34a853;
}
.services__tag--purple {
  background-color: #9c27b0;
}
.services__note {
  font-size: 19px;
  text-align: center;
  color: #a9a9a9;
  font-weight: 700;
}

.ourEducation__content {
  display: flex;
  margin-bottom: 40px;
}
.ourEducation__textBlock {
  max-width: 580px;
  padding-top: 10.5px;
}
.ourEducation__textBlock-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ourEducation__textBlock-subtitle {
  font-size: 19px;
}
.ourEducation__textBlock--p {
  padding: 20px;
  line-height: 1.2em;
}
.ourEducation__textBlock-button {
  text-align: center;
}
.ourEducation__title {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 40px;
}
.ourEducation__list {
  display: flex;
  justify-content: center;
  gap: 27px;
  max-width: 570px;
  flex-wrap: wrap;
}
.ourEducation__item {
  display: flex;
  flex-direction: column;
  max-width: 270px;
  background-color: #EAF2F5;
  border-radius: 30px;
  border: 1px solid #0387FC;
}
.ourEducation__img {
  max-width: 60px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 0 18px 0;
}
.ourEducation__item-title {
  text-align: center;
  font-weight: 700;
}
.ourEducation__item-description {
  text-align: center;
  padding: 30px 10px 50px 10px;
}

.results__content {
  display: flex;
}
.results__block {
  max-width: 580px;
}
.results__title {
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  margin: 40px 0;
}
.results__subtitle {
  text-align: center;
}
.results__description {
  font-size: 19px;
}
.results__description p {
  padding: 20px 20px 0 20px;
}
.results__description span {
  font-weight: 700;
}
.results__textBlock--p {
  line-height: 1.2em;
}
.results__list {
  display: flex;
  flex-direction: row;
  padding: 40px 20px 0 20px;
  gap: 20px;
}
.results__item {
  border: 1px solid #0387FC;
  padding: 10px;
  border-radius: 30px;
  background-color: #EAF2F5;
}
.results__procent {
  text-align: center;
  color: #0387FC;
  font-weight: 700;
  font-size: 19px;
}
.results__text {
  text-align: center;
  font-weight: 700;
  font-size: 19px;
  padding: 5px;
}
.results__image {
  max-width: 580px;
}

.contact__titlе {
  text-align: center;
  margin: 40px 0;
  font-weight: 700;
  font-size: 48px;
}
.contact__form {
  display: flex;
  background-color: #EAF2F5;
  border-radius: 30px;
  border: 1px solid #0387FC;
}
.contact__image {
  max-width: 580px;
  padding: 20px;
}
.contact__group--top {
  margin-top: 30px;
}
.contact__group--title {
  font-size: 19px;
}
.contact__group--p {
  margin: 10px 0;
  font-weight: 700;
}
.contact__group--item {
  padding: 20px;
  margin: 0 20px 20px 0;
  background-color: #F3F3F3;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: none !important;
}
.contact__group--textarea {
  width: 350px;
  padding: 10px;
  min-height: 100px;
  max-height: 100px;
  resize: none;
  background-color: #F3F3F3;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  outline: none !important;
}
.contact__button {
  text-align: center;
  margin: 20px;
}

.footer {
  background-color: #F3F3F3;
  padding-top: 20px;
  margin-top: 40px;
}
.footer__block {
  display: flex;
  justify-content: space-between;
}
.footer__item ul li {
  padding-bottom: 25px;
}
.footer__item ul li a {
  outline: none;
}
.footer__contact {
  font-family: Ubuntu;
}
.footer__contact--title {
  padding-bottom: 25px;
}
.footer__contact--tel {
  padding-bottom: 10px;
  opacity: 0.6;
}
.footer__contact--tel a {
  outline: none;
}
.footer__contact--mail {
  opacity: 0.6;
}
.footer__contact--mail a {
  outline: none;
}
.footer__social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
}
.footer__img {
  max-width: 200px;
}
.footer__img img {
  max-height: 150px;
}
.footer__social--list {
  display: flex;
  flex-direction: column;
  max-height: 160px;
}
.footer__social--item {
  max-width: 30px;
}/*# sourceMappingURL=style.css.map */